<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kw.forfun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".KakaoLogin.GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sub_Content.Show2Activity"></activity>
        <activity android:name=".sub_Content.Show1Activity" />
        <activity android:name=".sub_Content.Book2Activity" />
        <activity android:name=".sub_Content.Book1Activity" />
        <activity android:name=".sub_Content.Play2Activity" />
        <activity android:name=".sub_Content.Play1Activity" />
        <activity android:name=".sub_Content.Movie2Activity" />
        <activity android:name=".sub_Content.Movie1Activity" />
        <activity android:name=".LoadingActivity" />
        <activity android:name=".Activity.ContentSelectActivity" />
        <activity android:name=".KakaoLogin.KakaoLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />

        <activity android:name=".RequestForFunActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".ActivityRequestForFunContents"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".ActivityRequestForFunUser"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>